body {

    font-family: Arial, sans-serif;
    
    margin: 0;
    
    padding: 0;
    
    }
    
    header {
    
    background-color: #a82c2c33;
    
    color: #0f0d0d;
    
    padding: 10px;
    
    text-align: center;
    
    }
    
    main {
    
    padding: 20px;
    
    }
    
    footer {
    
    background-color: #490909;
    
    color: #0e0d0d;
    
    text-align: center;
    
    padding: 10px;
    
    }