html{
    background-color:rgb(239, 240, 227)   
}

p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    
    padding: 0;
}    

img {
    border-radius: 5%;

    border-image-width: 50;

    text-align: center;

}

#imagem{
    text-align: center;
}
    
    header {
    
    background-color: rgb(239, 240, 227);
    
    color: #0d0c0c;
    
    padding: 10px;
    
    text-align: center;
    
    }


    h2{
    
        background-color: rgb(239, 240, 227);
        
        color: #0d0c0c;
        
        padding: 10px;
        
        text-align: center;
        
        }
    

    p {
    
        background-color: rgb(239, 240, 227);
        
        color: #0d0c0c;
        
        padding: 0%;
        
        text-align: center;
        
        }
    
    main {
    
    padding: 20px;
    
    }
    
    footer {
    
    background-color: rgb(239, 240, 227);
    
    color: #070707;
    
    text-align: center;
    
    padding: 40px;
    
    }