html{
    background-color:rgb(239, 240, 227)   
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

/*Header/Blog Title*/
.header {
  padding: 30px;
  text-align: center;
  background: rgb(239, 240, 227);
}

.header h1 {
  font-size: 50px;
}



p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    
    padding: 0;
}    

img {
    border-radius: 5%;

    border-image-width: 50;

    text-align: center;

}

#imagem{
    text-align: center;
}
    
    header {
    
    background-color: rgb(239, 240, 227);
    
    color: #0d0c0c;
    
    padding: 10px;
    
    text-align: center;
    
    }


    h2{
    
        background-color: rgb(239, 240, 227);
        
        color: #0d0c0c;
        
        padding: 10px;
        
        text-align: center;
        
        }
    

    p {
    
        background-color: rgb(239, 240, 227);
        
        color: #0d0c0c;
        
        padding: 0,5%;
        
        text-align: center;

        
        }

     img {
            height: 300px;
            width: 300px;
          }
          
          #primeira-imagem {
            width: 900px;
            height: 300px;
        }


    main {
    
    padding: 10px;
    
    }
    
    footer {
    
    background-color: rgb(239, 240, 227);
    
    color: #070707;
    
    text-align: center;
    
    padding: 40px;
    
    }


#colorA {
    color: #006600;
    font-size: 18;
    padding: 0,5%;

}

#legend {
    padding:1%;
}




